body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e8f490;
    color: #333;
}

h1 {
    color: #0056b3;
    text-align: center;
}


a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button, input[type="submit"] {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #004494;
}

form {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"], form input[type="email"], form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form a {
    display: block;
    margin-top: 10px;
    text-align: center;
}
a{
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #ca34a7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #004494;
}
